<header class="relative">
  <h1 class="font-DancingScript text-white absolute left-1/2 top-5 -translate-x-1/2 z-50">Quai Antique</h1>
   <%= video_tag "intro_video.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: " " %>
</header>


<%= render partial: 'menus/bestoff_carousel', locals: { bestoff_items: @bestoff_items } %>



<h2>Hey</h2>
<h1>Bonjour</h1>


<section class="h-[500px] w-full bg-red-200">BLABALELGAELFLLLG</section>



<h1>Bonjour</h1>
<h1>Bonjour</h1>
<h1>Bonjour</h1>
<h1>Bonjour</h1>
<h1>Bonjour</h1>
<h1>Bonjour</h1>
<h1>Bonjour</h1>
<h1>Bonjour</h1>
<h1>Bonjour</h1>
<h1>Bonjour</h1>
<h1>Bonjour</h1>
<h1>Bonjour</h1>
<h1>Bonjour</h1>
<h1>Bonjour</h1>
<h1>Bonjour</h1>
<h1>Bonjour</h1>
<h1>Bonjour</h1>
<h1>Bonjour</h1>
<h1>Bonjour</h1>
<h1>Bonjour</h1>
<h1>Bonjour</h1>
<h1>Bonjour</h1>
<h1>Bonjour</h1>
<h1>Bonjour</h1>
<h1>Bonjour</h1>
<h1>Bonjour</h1>
<h1>Bonjour</h1>
<h1>Bonjour</h1>
<h1>Bonjour</h1>
<h1>Bonjour</h1>
<h1>Bonjour</h1>


