<header class="w-screen">
  <h1 class="font-DancingScript text-white">Quai Antique</h1>
<%= video_tag "intro_video.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>

</header>

<%= render partial: 'menus/bestoff_carousel', locals: { bestoff_items: @bestoff_items } %>




