<div class="mx-auto py-12 w-[70vw] md:w-[40vw] lg:w-[30vw]">
  <h1 class="font-bold text-4xl">Modifier votre réservation</h1>

  <%= render "form", reservation: @reservation %>

  <%= link_to t('global.forms.reservations.edit.show_this_reservation'), @reservation, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <% if current_user %>
    <%= link_to t('global.forms.reservations.edit.back_to_reservations'), reservations_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <% end %>
</div>
