<div class="mx-auto py-12 w-[70vw] md:w-[40vw] lg:w-[30vw]">
  <h1 id="typewriterEffect">Réserver votre table</h1>

  <%= render "form", reservation: @reservation %>
  <% if current_user %>
    <%= link_to t('global.forms.reservations.new.back_to_reservations'), reservations_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <% end %>

</div>


<script type="text/javascript" charset="utf-8">

    // h1 Typewriter effect
    let messageArray = ["Réserver votre table"];
    let textPosition = 0;
    const speed = 100;

    function typewriter() {
        document.querySelector("#typewriterEffect").
            innerHTML = messageArray[0].substring(0, textPosition) + '<span>I</span>'; /* substring function will make the typewriter effect and span will make the blinker effect */

        if(textPosition++ != messageArray[0].length)
            setTimeout(typewriter, speed) /* Call function until the end of the sentence */
    }

    window.addEventListener("load", typewriter);

</script>