<div class="mx-auto md:w-2/3 w-full flex pb-6 border border-slate mb-4 rounded-xl">
  <div class="mx-auto">
    <%= render @reservation %>
    <div class="flex flex-col items-stretch">
      <%= link_to 'Edit this reservation', edit_reservation_path(@reservation), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>

      <% if current_user %>
        <%= button_to 'Destroy this reservation', reservation_path(@reservation), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium bg-red-200" %>
        <%= link_to 'Back to reservations', reservations_path, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium w-full mt-2" %>
      <% end %>
    </div>
  </div>
</div>
