<div class="w-[80vw] md:w-[50vw]">
<%= link_to "<— Retour à la carte", menus_path, class: "text-whitegray font-bold" %>

<%= render partial: 'dish', locals: { dish: @dish, show_details: true } %>
</div>