@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

/* h & p customs */
@layer base {
    h1 {
        @apply text-5xl;
    }

    h2 {
        @apply text-3xl;
    }

    h3 {
        @apply sm:text-base md:text-xl lg:text-2xl;
    }

    h4 {
        @apply sm:text-sm md:text-base lg:text-xl;
    }
    p {
        @apply sm:text-sm md:text-base;
    }

}



/* body backgrounds */
.body_bg_gradient {
    @apply bg-gradient-to-r from-whitegray via-clearbrown to-slate;
}

.body_bg_homepage {
    background-color: #F5F5F5;
}



/* Navbar */
.tabnav:hover {
    font-weight: bolder;
}





/* Devise customization forms */
#devise {
    @apply flex flex-col items-center py-12;
}

#devise button, input[type=submit] {
    @apply bg-brown mt-8 text-white;
}

#devise a {
    @apply underline;
}

.field {
    @apply flex flex-col items-start;
}


/* Customization forms, all types */
input:not([type=checkbox]) {
    @apply block shadow rounded-md border border-slate outline-none px-3 py-2 mb-4 w-full focus:ring-slate transition focus:outline-none;
}


input[type=checkbox] {
    @apply rounded;
}

label {
    @apply block text-left;
}


form {
    @apply w-[80vw] md:w-[30vw] flex flex-col items-stretch;
}





/* Home page, Carousel Swiper js - target the active bullet */
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: white;
    opacity: 1;
}

/* Home page, Carousel Swiper js - target all bullets */
.swiper-pagination-bullet {
    background-color: #60473B;
    opacity: 1;
}

/* Home page, Carousel Swiper js - target the button next and prev. */
.swiper-button-next {
    --swiper-navigation-color: #F5F5F5;
}

.swiper-button-prev {
    --swiper-navigation-color: #F5F5F5;
}



/* Menu Card buttons */
.menu-card-button a {
    background: #F5F5F5;
    border-radius: 0.5rem;
    padding: 6px;
    width: auto;
}

.menu-card-button {
    padding: 16px;
}



/* Search bar style */
.search input[type=submit] {
    margin: 0px;
}

.search {
    margin-top: 22px;
}



/* Video background on home page */
.home_video {
    position: absolute;
    object-fit: cover;
    object-position: center bottom;
    top: 0;
    left:0;
    z-index: 1;
}