@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

@layer base {
    h1 { /* Tailwind text-4xl */
        font-family: Moul;
        font-weight: bold;
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    h2 { /* Tailwind text-2xl */
        font-family: Prompt;
        font-weight: lighter;
        font-style: italic;
        font-size: 1.5rem;
        line-height: 2rem;
    }

    h3 { /* Tailwind text-base */
        font-family: Athiti;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    #devise {
        @apply flex flex-col items-center;
    }


    input:not([type=checkbox]) {
        @apply block shadow rounded-md border border-slate outline-none px-3 py-2 mb-4 w-full  focus:ring focus:ring-slate transition focus:outline-none;
    }


    input[type=checkbox] {
        @apply rounded;
    }

    #devise button, input[type=submit] {
        @apply bg-brown mt-8 text-white;
    }

    #devise a {
        @apply underline;
    }

}


/* Navbar */
.tabnav:hover {
    font-weight: bolder;
}



